a:hover {
    text-decoration: none;
    color:  #152911;
}

#formInput {
    margin-top: 5px;
    border-bottom: 2px solid green;
    border-top: none;
    border-right: none;
    border-left: none;
}


#Modal {
    background-image: url("https://i.ibb.co/hYCm90Z/image-from-rawpixel-id-329641-jpeg-1.jpg");
    color: white;
    opacity: 0.9;
}

#modalContent {
    width: 75%;
}

.premiumBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.premiumCheckbox{
    margin-top: 7px;
    margin-right: 5px;
}

.splashContent {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: center;

}

.splashForm {
    border: 1px solid lightgrey;
    border-radius: 25px;
    color: #152911;
    height: 600px;
    width: 25%;
    margin-left: 250px;
    margin-right: 25px;
    margin-top: 20px;
    background-color: lightgrey;
    opacity: 0.9;
    text-align: center;
}

.splashLogo {
    height: 10%;
    width: 10%;
    margin-left: 5px;
    padding: 15px;
}

.splashNav {
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    width: 100%;
    position: relative;
    padding-left: 30px;
    margin: 0 auto;
}

.splashPage {
    background-image: url("https://images.pexels.com/photos/159888/pexels-photo-159888.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover; 
}

.splashText {
    width: 25%;
    height: 600px;
    border: 1px solid #152911;
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 25px;
    color: white;
    background-color: #152911;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    opacity: 0.9;
}

#registerLogo {
    margin-top: 35px;
    width: 60%;
}

.formButton {
    width: 50%;
}

.btnFacebook { 
    width: 180px;
    height:35px;  
    border-radius: 4px;
    background: #3b5998;
    color:white;
    border:0px transparent;  
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    cursor: pointer;
  }

  .btnGoogle { 
    width: 180px;
    height:35px;  
    margin:5px;
    display: inline-block;
  }