
.stockSearch {
    width: 1404px;
    border-right: none;
    border-top: none;
    border-left: none;
    padding-left: 10px;
    margin-top: 15px;
}

.searchResults {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
}

.vl {
    border-left: 3px solid black;
    height: 70px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .v2 {
    border-left: 3px solid black;
    height: 70px;
    margin-bottom: 5px;
    margin-top: 5px;

  }

  .v3 {
    border-left: 3px solid black;
    height: 70px;
    margin-bottom: 5px;
    margin-top: 5px;

  }

  .v4 {
    border-left: 3px solid black;
    height: 70px;
    margin-bottom: 5px;
    margin-top: 5px;

  }

  .companyInfo {
    display: flex;
    flex-direction: row;
  }

  @media (max-width: 500px) {

    input {
      border: solid green;
    }

    .searchResults{
      display: flex;
      flex-wrap: wrap;
    }

    .panel-1 {
      width: 40%;
    }

    .panel-2 {
      width: 40%;
    }
    .panel-3 {
      width: 100%;
      display:flex;
      justify-content: space-around;
    }

    .v1 {
      border: none;
    }

    .v2 {
      border: none;
    }

    .v3 {
      border: none;
    }

    .v4 {
      border: none;
    }

    .v5 {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    .v5 p {
      height: 100%;
    }

    .searchField {
      display: flex;
    }

    .stockSearch {
      width: 75%;
      padding: 0px;
      margin: 0px 0px 0px 10px;
      border: 1px solid black;
    }

    .search {
      width: 10%;
      margin: 0px 0px 0px 30px;
      border: 1px solid black;
    }
  }