
.stockSearch {
    width: 1404px;
    border-right: none;
    border-top: none;
    border-left: none;
    padding-left: 10px;
    margin-top: 15px;
}

.searchResults {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
}

.vl {
    border-left: 3px solid black;
    height: 70px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .v2 {
    border-left: 3px solid black;
    height: 70px;
    margin-bottom: 5px;
    margin-top: 5px;

  }

  .v3 {
    border-left: 3px solid black;
    height: 70px;
    margin-bottom: 5px;
    margin-top: 5px;

  }

  .v4 {
    border-left: 3px solid black;
    height: 70px;
    margin-bottom: 5px;
    margin-top: 5px;

  }

  .companyInfo {
    display: flex;
    flex-direction: row;
  }

  @media (max-width: 500px) {

    input {
      border: solid green;
    }

    .searchResults{
      border: solid blue;
    }

    .v0 {
      border: none;
    }

    .v1 {
      border: solid red;;
    }

    .v2 {
      border: none;
    }

    .v3 {
      border: none;
    }

    .v4 {
      border: none;
    }
  }