

.landingContent {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.landingOauth {
    display: flex;
    flex-direction: column;
}

.firstPane {
    width: 80%;
    border: 1px solid red;
    height: 530px;
}

.secondPane {
    width: 20%;
    border: 1px solid green;
    height: 530px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
  }

