.OAuth {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.OAuthform {
  color: black;
  border-top: none;
  border-right: none;
  border-left: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 35px;
  font-family: 'Francois One', sans-serif;
  color: black;
  background-color: lightgrey;
  margin-top: 15px;
  padding-top: 7px;
  border-radius: 15px;
}

#formInput {
  border: none;
  margin-left: 5px;
  height: 25px;
  background-color: lightgrey;
}

.formButton {
  border: none;
  margin-left: -115px;
}

.formEnd {
}

.hide{
  visibility: hidden;
}

.formButton:hover {
  color: green;
}

#formInput[type="text"], textarea {

  background-color : none;
  color: none; 

}

.btnFacebook { 
    width: 400px;
    height:70px;  
    background: #3b5998;
    color:white;
    border:0px transparent;  
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    cursor: pointer;
  }

  .btnGoogle { 
    width: 400px;
    height:70px;  
    display: inline-block;
    cursor: pointer;
    }

  .formButton {
    height: 25px;
    width: 25%;
    cursor: pointer;
  }

  .buttonFixed {
    position: absolute;
    color:black;
    margin-left: -15px;
    cursor: pointer;
    font-family: 'Francois One', sans-serif;
  }
