

.Dashboard {
    display: flex;
}

.News {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 500px) {

    body {
        border: solid red;
        background: #191919;
    }
}