.Nav {
    background-color: lightgrey;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}

.aNav {
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 25%;
    text-align: center;
}

.aNav:hover {
    background-color: grey;
    color: white;
}

@media (max-width: 500px) {
    .Nav {
        border: solid red;
    }
}