
i {
  margin-right: 10px;
}

.splashNav {
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding-left: 30px;
    margin: 0 auto;
}

.horizontal-menu {
    width: 100%;
    display: flex;
    background-color: lightgrey;
    justify-content: space-around;
    align-items: center;
  }
  
  .horizontal-menu Link {
    border: 1px solid red;
    color: black;
    text-decoration: none;
    color: white;
  }


