
i {
  margin-right: 10px;
}

#icons {
  margin-left: 1100px;
}

#Link {
  color: black;
}

.splashNav {
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding-left: 30px;
    margin: 0 auto;
    border-bottom: 3px solid white;
    margin-bottom: 5px;
}

.horizontal-menu {
    width: 100vw;
    display: flex;
    background-color: lightgrey;
    align-items: center;    
  }
  
.todaysDate {
  margin-top: 15px;
}
 


