.NewsCard {
    width: 300px;
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 5px;
    background-color: black;
}
#newsImg {
    width: 100%;
    height: 150px;
    margin-top: 15px;
}

.aCard {
    text-decoration: none;
    color: white;
    font-size: 9px;
}

.pCard {
    font-size: 10px;
}

@media (max-width: 500px) {
    .NewsCard {
        background-color: #454647;
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        padding: 20px;
    }

    .pCard {
        font-size: 12px;
        color: white;
        width:100%;
        /* border: solid green; */
    }

    .aCard {
        font-size: 20px;
        font-weight: bold;
        /* border: solid blue; */
    }

    #newsImg {
        width: 100%;
        /* border: solid purple; */
    }
}