.NewsCard {
    width: 300px;
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 5px;
    background-color: black;
}
#newsImg {
    width: 100%;
    height: 150px;
    margin-top: 15px;
}

.aCard {
    text-decoration: none;
    color: white;
    font-size: 9px;
}

.pCard {
    font-size: 10px;
}

@media (max-width: 500px) {
    .NewsCard {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        border: none;
        background: #CDCDCD;
        border-radius: 5px;
        margin: 10px 10%;
    }

    .NewsCard h4 {
        width: 100%;
        font-weight: bold;
    }

    .NewsCard a {
        width: 100%;
        color: black;
        font-size: 1.2rem;
        font-weight: bold;
    }

    #newsImg {
        /* width: 80%; */
    }
}