.image-container {
    width: 85%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
}

.profile-image {
    width: 30%;
    border-radius: 5%;
    margin: 0 10% 2%;
    padding: 1% 0 1% 0;
    background-color: lightgray;
    box-shadow: 10px 10px 5px gray;
}

.image {
    width: 70%;
    height: auto;
    border-radius: 30%;
}

.name {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.fab {
    color: black;
    width: 25%;
    font-size: 45px;
}

.fab:hover {
    text-shadow: 2px 2px 4px #000000;
}