.image-container {
    
    float: right;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
}

.profile-image {
    width: 30%;
    border-radius: 5%;
    margin: 0 10% 2%;
    padding: 10px;
    background-color: lightgray;
    box-shadow: 10px 10px 5px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    width: 70%;
    height: auto;
    border-radius: 30%;
}

.name {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.fab {
    color: black;
    width: 25%;
    font-size: 45px;
}

.fab:hover {
    text-shadow: 2px 2px 4px #000000;
}
.profile-image p{
    background-color: white;
    font-family: 'Rubik', sans-serif;
    padding: 10px;
    border-radius: 5px;
}
.profile-image a{
    margin: 10px;
}
.tagline{
    display: flex;
    justify-content: center;
    width: 100%;
    ruby-align: center;
    font-family: 'Oswald', sans-serif;
}